<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
        Define logon URL
        Protection set to all to specify privacy and integrity for the forms authentication ticket
        Timeout set to thirty minutes
        Name and path set to values delcared in applications config file
        Require SSL False - Auth cookies can be sent over unencrypted connections - Set to true if there are concerns with session hijacking 
        Sliding Expiration - session stays alive while user is active acorss the website
        Default url - default page for application
        cookieliess is set to the browser settings, if the device is cookieless then auth ticket is places in the URL
  -->
    <authentication mode="Forms">
      <forms loginUrl="/Login/Login.aspx"
           protection="All"
           timeout="30"
           name=".ASPXFORMSAUTH"
           path="/"
           requireSSL="false"
           slidingExpiration="true"
           defaultUrl="Default.aspx"
           cookieless="UseDeviceProfile"
           enableCrossAppRedirects="false">
      </forms>
    </authentication>
  </system.web>
  <connectionStrings>
    <add name="TVDB" connectionString="data source=.; database=dbTVReminderSystem; integrated security=SSPI"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
